/* Write your custom CSS here */
::-webkit-scrollbar {
    width: 10px;
    background-color: #202b3b;
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    width: 1px;
    border-radius: 5px;
    height: 5px;
}