.page-home__four .desc p{
    font-size: 20px !important;
    font-weight: bold;
}
.page-home__three .desc p{
    font-weight: bold;
}
.page-inspiration__two .item__wrap:hover,.page-flagship__two .item__wrap:hover{
background: #00FF00 !important;
}
.page-inspiration__two .item__wrap:hover .item__bg,.page-flagship__two .item__wrap:hover .item__bg{
    background: none !important;
}
.page-inspiration__two .item__wrap:hover .item__title,.page-flagship__two .item__wrap:hover .item__title{
    color: black !important;
}

@media (max-width: 991px){
    .page-home__one h1 small{
        right: unset !important;
        margin-left: 15px !important;
        font-size: 3vw !important;
        max-width: 100% !important;
    }
}